    body {
        font-size: 17px;
        background-color: red;

    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 20px;
    }

    img {
    max-width: 100%;
    }

    figure {
    margin: 0;
    }


    @media screen and (min-width: 480px) {
        p{
            font-size: 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        h1{
            font-size: 70px;
        }
        h2{
            font-size: 30px;
        }
    }

    @media screen and (min-width: 780px) {
        body{
            background-color: violet;
        }
        p{
            font-size: 20px;
            color: beige; 
        }
        h1{
            font-size: 93px;
        }
    }

    @media screen and (min-width: 1025px) {
        body{
            background-color: rgb(110, 54, 110);
        }
        p{
            font-size: 24px;
            color: whitesmoke; 
        }
        h1{
            font-size: 50px;
        }
        h2{
            font-size: 70px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }
        figure{
            margin: 20px;
        }
    }